body {
	background-color: ;
	}

h1 {
	color: #FF0000;
	background-color:yellow;
	}

h2 {
	color: #FF0000;
	background-color:yellow;
	}	
	
h3 {
	color:#FF0000;
	background-color:yellow;
	}	
P	{
	text-align: #FF0000;
	}
	
.paragrafo {
	color:#FF0000;
	text-align: center; 
	}

.
.paragrafo2 {
	color:#FF0000; 
	}